

/*footer*/


footer {
        background-color: #2e2f42;
        padding: 100px 0;
}

.logo-footer{
        display: inline-block;
        margin-bottom: 16px;
}

.footer-studio{
        color: #f4f4fd;
        
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

.social-media-footer{
        display: flex;
        flex-direction: column;
}

.social-media-description{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
}

.footer-icon-list{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4d5ae5;
        border-radius: 50%;
}

.footer-icon{
        fill: #f4f4fd;
}

.container-footer{
        display: flex;
        flex-direction: row;
        align-items: baseline;
}

.logo-description{
        margin-right: 120px;
}

.social-icon{
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus{
       background-color: #31d0aa;
}

.subscribe{
        margin-left: auto;
        display: flex;
        flex-direction: column;
}

.subscribe-form{
        display: flex;
        align-items: center;
        gap: 24px;
}

.subscribe-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}



.btn-subscribe{
        min-width: 165px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 8px 24px;
        background-color: #4d5ae5;;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        cursor: pointer;
}

.btn-subscribe:hover,
.btn-subscribe:focus{
        background-color: #31d0aa;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.subscribe-icon{
        fill: #fff;
        margin-left: 16px;
}

.placeholder-email{
        width: 264px;
        height: 40px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 4px;
        font-size: 12px;
        line-height: 2;
        padding-left: 16px;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #ffffff;
}

.placeholder-email::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}

.placeholder-email:hover,
.placeholder-email:focus{
        border: 1px solid #31d0aa;
        color: #fff;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*backdrop*/

.backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 72px 24px 24px 24px;;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        border-radius: 4px;

        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
                    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
                    0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal{
        transform: translate(-50%, -50%) scale(1.5);
}

.backdrop-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42; 
        margin-bottom: 16px;
}

.backdrop-close-btn{
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: #e7e9fc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-close-btn:hover,
.backdrop-close-btn:focus{
       background-color: #404bbf;
       border: none;
}

.btn-close{
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-close:hover,
.btn-close:focus{
        fill: #ffffff;
}

.backdrop-close-btn:hover .btn-close,
.backdrop-close-btn:focus .btn-close{
        fill: #fff;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}


.feedback-label{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}

.feedback-container{
        display: flex;
        margin-bottom: 16px;
        flex-direction: column;
        margin-bottom: 8px;
}

.feedback-icons{
        position: relative;
        display: inline-block;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-label{
        display: block;
}

.feedback-textarea{
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        height: 120px;
        min-width: 360px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-textarea:focus{
        border-color: #4D5AE5;
}

.feedback-comment{
        margin-bottom: 16px;
}

.wrapper-icons{
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.wrapper-icons:hover,
.wrapper-icons:focus{
        border-color: #4D5AE5;
}

.wrapper-icons:focus+.icons{
        fill: #4D5AE5;
}


.icons{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        left: 16px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons:hover,
.icons:focus{
        fill: #4d5ae5;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label{
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
      
}

.checkbox-field{
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        
}

.privacy-link{
        line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
        margin-left: 4px;
}

.checkbox-span{
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-right: 8px;
        
}

.checkbox-input{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.checkbox-input:checked + .checkbox-label > .checkbox-span{
        border-radius: 2px;
        fill: #F4F4FD;
        background-color: #404bbf;
        border: none;

}

.checkbox-icon{
        fill: #f4f4fd;
}

.privacy-text{
        display: inline;
}

.send-btn{
        display: block;
        min-width: 169px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background-color: #4D5AE5;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        margin:  auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus{
        background-color: #404bbf;
}

